.aboutUs {
	padding: 5%;
	text-align: center;
	background-color: black;

	.title {
		text-align: center;
		text-transform: uppercase;
	}

	.list {
		text-align: center;
		padding-left: 0;
		li {
			list-style-type: none;
			line-height: 2em;

			b {
				color: #359ac0;
			}
		}
	}
}

@media (max-width: 420px) {
	.list {
		li {
			text-align: justify;
		}
	}
}
